@{
    ViewBag.Title = "Kontakt";
}

<h2>Contact</h2>

<address>
    Justyna & Wojciech Żarnowieccy<br />
    Opole<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:wojciech.zarnowiecki@gmail.com">wojciech.zarnowiecki@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:justyna.szurgut.zarnowiecka@gmail.com">justyna.szurgut.zarnowiecka@gmail.com</a>
</address>