@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Gdzie i z kim?</h1>

    <br />

    <a href="Home/Mapa" class="btn btn-green btn-lg">
        <span class="glyphicon glyphicon-search"></span> Mapa ciekawych miejsc
    </a>

    <br /><br />

    <a href="Lokalizacjas/Create" class="btn btn-green btn-lg">
        <span class="glyphicon glyphicon-plus-sign"></span> Dodaj miejsce
    </a>
</div>